<th:block th:fragment="comment(name,kind,group)">
    <th:block th:if="${haloCommentEnabled}">
        <div id="comment">
            <hr th:if="${haloCommentEnabled}" class="dark:!border-gray-300/50 border-dashed border-t !border-gray-300 my-5" />
            <p class="item-a my-5">评论</p>
            <halo:comment th:attr="name=${name},kind=${kind},group=${group}" />
        </div>
    </th:block><div th:unless="${haloCommentEnabled}" ><p th:if="${theme.config.post_settings.post_comment_enabled == 'open'}" class="my-5">评论已关闭！</p></div>
</th:block>