<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: html(title = '分类 - ' + ${site.title}, hero = null, content = ~{::content}, head = null, footer = null,)}">
<th:block th:fragment="content">
    <div class="cate-content">
        <article>
          <h2 class="item-a">分类：</h2>
          <div class="my-5">
            <ul th:replace="~{modules/category-tree :: next(categories=${categories})}"></ul>
          </div>
        </article>
      </div>
</th:block>