<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: html(title = '分类：' + ${category.spec.displayName} + ' - ' + ${site.title}, hero = null, content = ~{::content}, head = null, footer = null,)}">
<th:block th:fragment="content">
    <div class="cate-content">
        <article>
            <h2 class="item-a" th:text="|分类：${category.spec.displayName}|"></h2>
            <p class="my-5" th:text="|共有 ${category.status.postCount != null ? category.status.postCount : '0'} 篇文章|"></p>
            <ul>
                <li th:each="post : ${posts.items}" class="!list-none !m-0">
                    <span th:text="|${#dates.format(post.spec.publishTime,'YYYY/MM/dd')}|"
                        class="archives-li"></span><a th:href="@{${post.status.permalink}}"
                        th:text="${post.spec.title}" class="text-sm hover:underline"></a>
                </li>
            </ul>

            <ul th:if="${posts.hasPrevious() || posts.hasNext()}" class="flex justify-between pt-2">
                <li th:if="${posts.hasPrevious()}"><a th:href="@{${posts.prevUrl}}"><span>上一页</span></a></li>
                <li th:if="${posts.hasNext()}"><a th:href="@{${posts.nextUrl}}"><span>下一页</span></a></li>
            </ul>
        </article>
    </div>