<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: html(title = '标签 - ' + ${site.title}, hero = null, content = ~{::content}, head = null, footer = null,)}">
<th:block th:fragment="content">
    <div class="tags-content">
        <article>
            <h2 class="item-a">标签</h2>
            <ul class="mt-5">
                <li th:each="tag : ${tags}"><a
                        class="text-sky-400 dark:text-sky-500 hover:underline" th:href="${tag.status.permalink}"
                        th:text="|${tag.spec.displayName}(${tag.status.postCount})|"></a></li>
            </ul>
        </article>
    </div>
</th:block>

</html>